<!-- Header -->
<header id="header" class="header" *ngIf="stageData">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>{{ stageData.headline | uppercase }} <span id="js-rotating">{{ headlineRotation | uppercase}}</span></h1>
                        <p class="p-heading p-large">{{ stageData.subheadline }}</p>
                        <a class="btn-solid-lg page-scroll" [href]="stageData.buttonTarget">{{ stageData.buttonLabel }}</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
